@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base {
    h1 {
        @apply text-4xl text-center
    }
    p {
        @apply mt-3
    }
    blockquote {
        @apply m-3 italic
    }
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
}